{% extends 'site_base.html' %}

{% block content %}

  {% if user.is_authenticated %}

    <div class="homepage wrapper">
      <h1>Find nearby music events: </h1>
      
      <div class="row clearfix">
        <div class="col col-30">
          <button id="get_location">Get my location</button>
        </div>
        <div class="col col-60">
          <form action="/events/set_location/" method="post">
            <h3><span id="location"></span>
              {% csrf_token %}
              <input type="hidden" name="city" id="set_city" value="">
              <input type="hidden" name="state" id="set_state" value="">
              <input type="hidden" name="name" id="set_location" value="">
              <input type="hidden" name="lat" id="set_lat" value="">
              <input type="hidden" name="lon" id="set_lon" value="">
              <span id="use_submit" class="use_submit"></span>
            </h3>
          </form>
        </div>
      </div>
     
      <div class="row clearfix">
        <div class="col col-30"><h3>Or Input a location:</h3></div>
        <div class="col col-40">
          <form class="location-input" action="/events/set_location/" method="post">
            
            {% csrf_token %}
            <input type="text" name="city" placeholder="city" required>
            <input type="text" name="state" placeholder="state" required>
            <input type="submit" value="Use">
            
          </form>
        </div>
      </div>
      
      <div class="panel">
        <div class="row clearfix panel-header">
          <div class="col col-100"><h2>Or use a previous location:</h2></div>
        </div>
        {% for location in locations %}
          <div class="row clearfix">
            <div class="col col-60"><h3>{{ location.city }}, {{ location.state }}</h3></div>
            <div class="col col-40"><a href="/events/delete/{{ location.id }}/"><button class="delete">delete</button></a><a href="/events/get_events/{{ location.id }}/"><button class="use-previous">Use</button></a></div>
          </div>
        {% endfor %}

        {% if not locations %}
          <div class="row clearfix">
            <div class="col col-100"><h3 class="panel-message">There are no previous locations.</h3></div>
          </div>
        {% endif %}
      </div>
    </div>

  {% endif%}
  
{% endblock %}