{% extends 'site_base.html' %}

{% block content %}

  <div class="homepage wrapper">
    <h1>Find nearby music events: </h1>
    
    <div class="row clearfix">
      <div class="col col-30">
        <button id="get_location">Get my location</button>
      </div>
      <div class="col col-60">
        <form action="/events/set_location/" method="post">
          <h3><span id="location"></span>
            {% csrf_token %}
            <input type="hidden" name="name" id="set_location" value="">
            <span id="use_submit" class="use_submit"></span>
          </h3>
        </form>
      </div>
    </div>
   
    <h2>Or Input a location:</h2>
    
    <div class="panel">
      <div class="row clearfix panel-header">
        <div class="col col-60"><h2>Or use a previous location:</h2></div>
      </div>
      {% for location in locations %}
        <div class="row clearfix">
          <div class="col col-60"><h3><a href="/">{{ location.name }}</a></h3></div>
          <div class="col col-40"><p>{{ location.timestamp }}</p></div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}