{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Music Events{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  {% block map_script %}
  {% endblock %}

</head>
<body>

  <div class="header">
    <h1><a href="/">Music Events</a></h1>
    <div class="header-nav">
      {% block menu %}
        <ul>
          
          {% if user.is_authenticated %}
            <li>
              {{ user }}
            </li>
            <li>
              <a class="menu-button" href="/logout/">Log Out</a>
            </li>
          {% else %}
            <li>
              <a class="menu-button" href="/login/">Log In</a>
            </li>
            <li>
              <a class="menu-button" href="/register/">Register</a>
            </li>
          {% endif %}
          
        </ul>
      {% endblock %}
    </div>
  </div>

  {% block content %}
    <h1>Music Events content.</h1>
  {% endblock %}

  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>

  {% block special_scripts %}
  {% endblock %}

</body>
</html>