{% extends 'site_base.html' %}

{% block content %}

  {% if user.is_authenticated %}

    <div class="wrapper">
      <h1>{{ location.city }}, {{ location.state }} area events</h1>

      {% if events.message %}

        <p>{{ events.message }} <a href="/">back</a></p>
      
      {% else %}
      
        <div class="row clearfix">
          <div class="col col-100">
            <div class="google-maps">
              <div id="map"></div>
            </div>
          </div>          
        </div>  

        <div class="row clearfix">
          <div class="col col-100">
            <table>
              
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Event</th>
                  <th>Venue</th>
                  <th>Address</th>
                </tr>
              </thead>
              
              <tbody>   
                {% for event in events %}
                  <tr>
                    <td>{{ event.date }}</td>
                    <td>{{ event.title }}</td>
                    <td><a href="{{ event.url }}">{{ event.venue }}</a></td>
                    <td>{{ event.street }}, {{ event.city }}</td>
                  </tr> 
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>

      {% endif %}
    
    </div>

  {% endif %}  

{% endblock %}

{% block special_scripts %}

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script>
    function initialize() {
      var mapCenter = new google.maps.LatLng({{location.lat}},{{location.lon}});
      var mapOptions = {
        zoom: 12,
        center: mapCenter
      }
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var bounds = new google.maps.LatLngBounds();
      bounds.extend(mapCenter);
      var marker = [];
      var content = [];
      var infowindow= [];
      
      {% for event in events %}
        
        marker[{{ forloop.counter0 }}] = new google.maps.Marker({
          position: {lat: {{event.lat}}, lng: {{event.lon}}},
          map: map,
          title: '{{event.venue}}'});
        
        bounds.extend(marker[{{ forloop.counter0 }}].position);

        infowindow[{{ forloop.counter0 }}] = new google.maps.InfoWindow({
          maxWidth: 160
        });

        content[{{ forloop.counter0 }}] = '<img class="map-image" src="{{ event.image|safe }}"><h2>{{ event.title }}</h2><p><a href="{{ event.url }}">{{ event.venue }}</a><br>{{ event.street }}<br>{{ event.city }}</p>'

        google.maps.event.addListener(marker[{{ forloop.counter0 }}], 'click', function() {
          infowindow[{{ forloop.counter0 }}].setContent(content[{{ forloop.counter0 }}]);
          infowindow[{{ forloop.counter0 }}].open(map, marker[{{ forloop.counter0 }}]);
        });

      {% endfor %}

      map.fitBounds(bounds);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

{% endblock %}


