/***********************************/
/*      layout related styles      */
/***********************************/

body {
  margin: 0;
  background: #eee;
  background: url('../images/background.png') fixed;
  padding-top: 65px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  padding: 0;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 30px auto;
  padding: 0 15px;
}

.homepage.wrapper {
  width: 700px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding: 0 15px;
}

.col-10 {
  width: 10%;
  float: left;
}

.col-30 {
  width: 30%;
  float: left;
}

.col-33 {
  width: 33%;
  float: left;
}

.col-40,
.col-40-xs {
  width: 40%;
  float: left;
}

.col-50 {
  width: 50%;
  float: left;
}

.col-60,
.col-60-xs {
  width: 60%;
  float: left;
}

.col-67 {
  width: 67%;
  float: left;
}

.col-75 {
  width: 75%;
  float: left;
}

.col-100 {
  width: 100%;
  float: left;
}

.col-40.centered,
.col-50.centered,
.col-60.centered,
.col-75.centered {
  float: none;
  margin: 0 auto;
}

.name {
  width: 60%;
  float: left;
}

img.artist {
  max-width: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height:450px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

table {
  width: 100%;
  background: #f1f1f1;
  margin: 40px 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border: none;
  border-collapse: collapse;
}

th, td {
  font-family: helvetica;
  color: #555;
  padding: 8px;
  border: none;
}

tr:nth-child(odd) {
  background: #f8f8f8;
}

th {
  font-weight: 400;
  color: white;
  background-color: #5A94A4;
}

td {
  font-weight: 300;
}


/***********************************/
/*       Font related styles       */
/***********************************/

h1, h2, h3, p, ul li, a, label {
  font-family: helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  color: #0185AA;
}

p, ul li {
  color: #333;
}

h1, h2, h3, p {
  margin: 0 0 16px;
}

h1 {
  margin-bottom: 30px;
}

#map h2 {
  margin-bottom: 3px;
  font-size: 18px;
}

#map p a {
  font-size: 16px;
}

#map p {
  font-size: 14px;
  margin-bottom: 5px;
}

img.map-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h3#location {
  margin-top: 10px;
}

p, label {
  font-size: 18px;
  font-weight: 300;
}

p strong {
  font-weight: 400;
}

p.error {
  color: red;
}

a {
  text-decoration: none;
  color: #0DA5CF;
}

a:hover {
  text-decoration: none;
  color: #0DA5CF;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 16px;
}

/***********************************/
/*           form styles           */
/***********************************/

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #CCC;
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  margin-top: 2px;
  padding: 0 10px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  border: none;
  background: #CBC152;
  margin-bottom: 20px;
  margin-top: 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #E0D445;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.location-input input[type="submit"] {
  width: 50px;
  height: 30px;
  background: #3FAECD;
  float: right;
  margin-bottom: 40px;
}

.location-input input[type="submit"]:hover {
   background: #5A94A4;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  border: none;
  margin-bottom: 20px;
  margin-top: 2px;
  cursor: pointer;
}

button#get_location {
  background: #B1235C;
  margin-bottom: 40px;
}

button#get_location:hover {
  background: #D6236A;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.use_submit input[type="submit"],
button.use-previous {
  width: 50px;
  height: 30px;
  background: #3FAECD;
}

button.use-previous,
button.delete {
  margin-bottom: 0;
  margin-top: 4px;
  float: right;
  margin-left: 20px;
}

.use_submit input[type="submit"]:hover,
button.use-previous:hover {
  background: #5A94A4;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

button.delete {
  width: 70px;
  height: 30px;
}

button.delete:hover {
  background: #999;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#location {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
}

button:active,
button:focus {
  outline: none;
}

label {
  width: 100%;
  display: block;
  color: #555;
}

.helptext {
  font-family: helvetica, sans-serif;
  position: relative;
  font-size: 15px;
  top: -15px;
}

ul.errorlist {
  list-style-type: none;
  margin: 2px 0;
}

ul.errorlist li {
  color: #E31C1F;
}

/***********************************/
/*          header styles          */
/***********************************/

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 65px;
  width: 100%;
  background: #B1235C;
  padding: 14px 30px 0;
}

.header h1 {
  width: 200px;
  margin: 0;
  font-size: 30px;
  float: left;
}

.header h1 a {
  color: white;
}

.header-nav {
  width: 380px;
  float: right;
}

.header-nav ul {
  list-style-type: none;
  text-align: right;
  margin-top: 10px;
}

.header-nav ul li {
  display: inline-block;
  color: white;
  font-size: 16px;
}

.header-nav ul li a {
  color: white;
  font-size: 16px;
  padding: 5px 18px;
  text-transform: uppercase;
}

.header-nav ul li a.menu-button {
  background: #f1f1f1;
  color: #0DA5CF;
  text-transform: lowercase;
  border-radius: 3px;
  margin-left: 20px;
}

/***********************************/
/*          panel styles           */
/***********************************/

.panel, .event-panel {
  background: #f1f1f1;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.event-panel {
  padding: 20px 20px 5px;
}

.event-panel h2 {
  margin: 15px 0 5px;
}

.panel h2 {
  color: white;
  margin: 0 0 0 -15px;
}

.auth-panel {
  margin-top: 40px;
}

.panel.auth-panel h2 {
  background: #5A94A4;
  color: white;
  padding: 10px 20px;
  margin: 0;
}

.panel .row.panel-header {
  background: #5A94A4;
  padding: 10px 20px;
}

.panel .row {
  border-bottom: 1px solid #e1e1e1;
  padding: 5px 0;
  margin: 0;
}

.panel .row:nth-child(even) {
  background: #f8f8f8;
}

.panel h3 {
  margin: 8px 0;
}

.panel p {
  margin: 0 0 0 -15px;
}

.panel p.panel-message {
  margin: 0 5px 20px 5px;
}

.panel-inner {
  padding: 20px 20px 4px;
}

/***********************************/
/*          media queries          */
/***********************************/

@media (max-width: 767px) {

  .col-30,
  .col-40,
  .col-50,
  .col-60,
  .col-75 {
    width: 100%;
    float: none;
  }

  h1 {
    font-size: 28px;
  }

  .header-nav {
    width: 280px;
  }

  .header-nav ul li a {
    padding: 5px 5px;
  }

  .header-nav ul li a.menu-button {
    margin-left: 5px;
  }

  button#get_location {
    margin-bottom: 20px;
  }
}

@media (max-width: 580px) {

  body {
    padding-top: 0;
  }

  .header {
    height: auto;
    position: static;
    padding-bottom: 15px;
  }

  .header h1 {
    width: 100%;
    float: none;
    text-align: center;
  }

  .header-nav {
    width: 100%;
    float: none;
  }

  .header-nav ul {
    text-align: center;
    margin-bottom: 10px;
  }

  .header-nav ul li a {
    font-size: 15px;
  }

  .hide-mobile {
    display: none;
  }

  #map {
    height: 300px;
  }
}